.canvas{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    bottom: 0;
 
    width: 100vw;
    height: calc(8/11 * 100vw);
    z-index: 20;
}

@media only screen and (min-aspect-ratio: 11/8){
    .canvas{
         --cell-height: calc(100vh / 7.75);
        position: absolute;
        width: calc(var(--cell-height) * 11);
        height: calc(var(--cell-height) * 8);
    }
}