
.grid-container{  
    --cell-width: calc(100vw / 11);
    --cell-height: calc(100vh / 7.75);
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows:  repeat(6, var(--cell-height));
    width: 100%;
    /* height: calc(100vh - var(--cell-height)); */
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
    /* overflow-y: scroll; */


    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    padding-top: calc(var(--cell-height) * 0.75);

}

.grid-container::-webkit-scrollbar {
    display: none;
  }
  
.grid-title{
    grid-column-start: span 11;
    display: flex;

    justify-content: center;
    transform: translateY(calc(var(--cell-height) * (-0.15)));

    position:fixed;
    top:0;
    width: 100%;
    height: calc(var(--cell-height)*1.5 - 2rem);
    padding-top:calc(var(--cell-height) * 0.25) ;

    background-color: #fff;

    z-index: 21;
   
}
.grid-cell{
    position: relative;
    width: var(--cell-width);
    height: var(--cell-height);
    pointer-events: none;
}

  
.grid-cell-label{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-0.25rem, -0.5rem);
    width: var(--cell-width);
    height: var(--cell-height);
    z-index: 10;
    padding-right: 2.5rem;
    pointer-events: all;
}

.grid-cell-link{
    text-decoration: underline;
}
.grid-cell-link:hover{
    text-decoration: none;
}

.grid-cell-image{
    width: calc(var(--cell-width) * 0.6);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -40%);

    cursor: pointer;
    z-index: 10;
 
}
.grid-draggable{
    height:0;
    position:absolute;
    left:0;
    top:0;
    z-index: 30;
}

.grid-cell-location{
    grid-column-start:3 ;
}
.grid-cell-email{
    grid-column-start: 4;
}

.grid-cell-image-large{
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 7;

   
    display: flex;
    justify-content: center;

    padding-bottom: calc(var(--cell-height)*0.5)
}

.grid-cell-image-large img{
    height: 100%;
}


.grid-cell-image-large-wrapper{
    position:relative;
}

.grid-cell-image-arrow-left{
    width: 100%;
    height: 100%;
    cursor:w-resize;

}

.grid-cell-image-arrow-right{
    width: 100%;
    height: 100%;
    cursor:e-resize;

}

.grid-cell-image-spot{

    width: 2rem;
    height: 2rem;
    border-radius: var(--container-border-radius); 
    background-color:#fff;
    border: var(--container-border);
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;

    transform: translate(-50%, -50%);

    cursor: pointer;
}


.grid-button-info{
    position: fixed;
    right: var(--cell-width);
    /* bottom: calc(-5rem - (var(--cell-height) - 5rem)/2); */
    bottom: calc(var(--cell-height)/2 - 5rem/2);
    width: calc(var(--cell-width) * 3 - (var(--cell-width) - 4rem));

    cursor: pointer;
    border: var(--container-border);
    border-radius: var(--container-border-radius);   

    height: 5rem;
    padding-left: 2rem;
    margin: 0 calc((var(--cell-width) - 4rem)/2);

    display: flex;
    align-items: center;
    text-transform: capitalize;

    z-index: 21;
}

.grid-button-info:hover{
    color: #aaa;
}
.grid-info-container{

    width: calc(var(--cell-width) * 3 - (var(--cell-width) - 4rem));
    z-index: 40;
    grid-column: 8/11;
    grid-row-start: 7;
    position:relative;
    margin-left:calc((var(--cell-width) - 4rem)/2);
    
}
.grid-info-block{
    position:absolute;
    /* bottom: 0; */
    bottom: calc(var(--cell-height)/2 - 5rem/2);
    
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
   
    background-color:#fff;
    border: var(--container-border);
    border-radius: var(--container-border-radius); 
    padding: 2rem;

    cursor:grab;
    z-index: 40;
   
}

.grid-info-close{
    position: absolute;
    top: 0;
    right: -3rem;
    width: 2rem;
    height: 2rem;
    border-radius: var(--container-border-radius); 
    background-color:#fff;
    border: var(--container-border);
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.grid-back{
    position:fixed;
    left: calc(var(--cell-width)*0.5);
    top: calc(var(--cell-height) * 0.25);
    transform: translateY(calc(var(--cell-height) * (-0.15)));
    z-index: 50;
    text-decoration: underline;
    cursor: pointer;
}
.grid-back:hover{
    text-decoration: none;
}


@media only screen and (min-aspect-ratio: 44/31 ){

    .grid-cell-image{
        width: calc(var(--cell-height) * 0.6);
    }
    /* .grid-container{
        background-color: aqua;
    } */
}


@media only screen and (max-width: 750px) {

    .grid-container{  
        --cell-width: calc(100vw / 4);
        grid-template-columns: repeat(4,1fr);
    }
     .grid-draggable{
      position: fixed;
        top:0;
        left:0;
        z-index: 500;
    }
    .grid-cell-location{
        grid-column-start: 1;
    }

    .grid-cell-image-large{
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
        position: absolute;
        top: calc(var(--cell-height)*1.75);
        height: calc(var(--cell-height) * 5);
        margin: 0 calc((var(--cell-width) - 5rem)/2);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        justify-content: unset;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }

    .grid-cell-image-large::-webkit-scrollbar {
        display: none;
    }
    .grid-cell-image-large img{
        height: unset;
        width: 100%;
        margin-bottom: 1rem;

    }

    .grid-arrow-left{
        position: absolute;
        left:1.5rem;
        top:calc(var(--cell-height) * 1.25);
        z-index: 100;
    }
    .grid-arrow-right{
        position: absolute;
        right:1.5rem;
        top:calc(var(--cell-height) * 1.25);
        z-index: 100;
    }

    .grid-info-container{
        grid-column-start: 2; 
    }
    .grid-button-info{
        position: fixed;
        right: calc((var(--cell-width) - 5rem)/2);
        width: 5rem;
        padding-left: 0rem;
        margin: 0;
        justify-content: center;
        z-index: 21;
    }
    .grid-back{
        left: calc((var(--cell-width) - 5rem)/2);
        top: unset;
        bottom: calc(var(--cell-height)/2 - 5rem/2);


        width: 5rem;
        height:5rem;

        border-radius: var(--container-border-radius); 
        border: var(--container-border);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0);
        text-decoration: none;
    }

    .grid-cell-email{
        grid-column-start: 2;
    }
}