
.grid-container{  
    --cell-width: calc(100vw / 11);
    --cell-height: calc(100vh / 7.75);
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows:  repeat(6, var(--cell-height));
    width: 100%;
    /* height: calc(100vh - var(--cell-height)); */

    overflow-x: hidden;
    overflow-y: hidden;
    /* overflow-y: scroll; */


    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    padding-top: calc(var(--cell-height) * 0.75);

}

.grid-container::-webkit-scrollbar {
    display: none;
  }
  
.grid-title{
    grid-column-start: span 11;
    display: flex;

    justify-content: center;
    transform: translateY(calc(var(--cell-height) * (-0.15)));

    position:fixed;
    top:0;
    width: 100%;
    height: calc(var(--cell-height)*1.2);
    padding-top:calc(var(--cell-height) * 0.25) ;

    background-color: #fff;

    z-index: 10;
   
}
.grid-cell{
    position: relative;
    width: var(--cell-width);
    height: var(--cell-height);
    pointer-events: none;
}

  
.grid-cell-label{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-0.25rem, -0.5rem);
    width: var(--cell-width);
    height: var(--cell-height);
    z-index: 10;

    pointer-events: all;
}

.grid-cell-link{
    text-decoration: underline;
}
.grid-cell-link:hover{
    text-decoration: none;
}

.grid-cell-image{
    width: calc(var(--cell-width) * 0.6);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -40%);

    cursor: pointer;
    z-index: 10;
 
}
.grid-draggable{
    height:0;
    position:absolute;
    left:0;
    top:0;
    z-index: 30;
}

.grid-cell-location{
    grid-column-start:3 ;
}
.grid-cell-email{
    grid-column-start: 4;
}

.grid-cell-image-large{
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 8;
    padding-bottom: calc(100vw/11/2);
   
    display: flex;
    justify-content: center;
}

.grid-cell-image-large img{
    height: 100%;
}


.grid-cell-image-large-wrapper{
    position:relative;
}

.grid-cell-image-arrow-left{
    width: 100%;
    height: 100%;
    cursor:w-resize;

}

.grid-cell-image-arrow-right{
    width: 100%;
    height: 100%;
    cursor:e-resize;

}

.grid-cell-image-spot{

    width: 2rem;
    height: 2rem;
    border-radius: var(--container-border-radius); 
    background-color:#fff;
    border: var(--container-border);
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;

    transform: translate(-50%, -50%);

    cursor: pointer;
}


.grid-button-info{
    position: absolute;
    right: var(--cell-width);
    bottom: calc(-5rem - (var(--cell-height) - 5rem)/2);
    width: calc(var(--cell-width) * 3 - (var(--cell-width) - 4rem));

    cursor: pointer;
    border: var(--container-border);
    border-radius: var(--container-border-radius);   

    height: 5rem;
    padding-left: 2rem;
    margin: 0 calc((var(--cell-width) - 4rem)/2);

    display: flex;
    align-items: center;
    text-transform: capitalize;

    z-index: 21;
}

.grid-info-container{

    width: calc(var(--cell-width) * 3 - (var(--cell-width) - 4rem));
    z-index: 21;
    grid-column: 8/11;
    grid-row-start: 8;
    position:relative;
    margin-left:calc((var(--cell-width) - 4rem)/2);
    
}
.grid-info-block{
    position:absolute;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
   
    background-color:#fff;
    border: var(--container-border);
    border-radius: var(--container-border-radius); 
    padding: 2rem;

    cursor:grab;



   
}

.grid-info-close{
    position: absolute;
    top: 0;
    right: -3rem;
    width: 2rem;
    height: 2rem;
    border-radius: var(--container-border-radius); 
    background-color:#fff;
    border: var(--container-border);
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}



@media only screen and (min-aspect-ratio: 44/31 ){

    .grid-cell-image{
        width: calc(var(--cell-height) * 0.6);
    }
    /* .grid-container{
        background-color: aqua;
    } */
}
