
.grid-container{  
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;

}
  
.grid-title{
    grid-column-start: span 11;
    align-self: center;
    justify-self: center;
}
.grid-cell{
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* z-index: -1; */
}
  
.grid-cell-label{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-0.25rem, -0.5rem);
    width: calc(100vw / 11);
    height: calc(100vw / 11);
    z-index: 10;
}

.grid-cell-link{
    text-decoration: underline;
}
.grid-cell-link:hover{
    text-decoration: none;
}

.grid-cell-image{
    width: calc(100vw / 11 * 0.6);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
 
}
.grid-draggable{
    height:0;
    position:absolute;
    left:0;
    top:0;
    z-index: 30;
}

@media only screen and (min-aspect-ratio: 11/8){
    .grid-container{
        width: auto;
    }
    .grid-cell{
        width: calc(100vh / 8);
        height: calc(100vh / 8);
        padding-top: 100%;
    
    }
    .grid-cell-label{
        width: calc(100vh/8);
        height: calc(100vh/8);
    }
    .grid-cell-image{
        width: calc(100vh/8 * 0.6);
    }
}