@font-face {
  font-family: Aktiv Grotesk;
  src: url("../public/fonts/AktivGrotesk_CNSG_Rg.ttf") format("truetype");
}

@font-face {
  font-family: Univers LT Std;
  ascent-override: 100%;
  src: url("../public/fonts/UniversLTStd.otf") format("opentype");

}



html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  overflow: hidden;
  /* font-family: Univers LT Std; */
  /* font-size: 12px; */
  font-size: calc(100vw * 12 / 1600);
  line-height: 140%;
}

a {
  color: inherit;
  /* text-decoration: none; */
}
a:hover{
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}
:root{
  --container-border-radius: 1.25rem;
  --container-horizontal-padding: 1rem;
  --container-border: 0.8px #555 solid;
  --cell-width: calc(100vw / 11);
  --cell-height: calc((var(--viewport-height)) / 7.75);
}


@media only screen and (max-width: 750px) {
  html,
  body {
    font-size: calc(100vw * 12 / 500);
  }
}